/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Zeyada', cursive; */
  /* font-family: 'Space Mono', monospace; */

  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

body{
  height: 100%;
  /* background: linear-gradient(to right, rgba(255, 192, 203, 0.356), rgba(39, 93, 255, 0.242) 65%); */
  
}

/* ========= FLEX ========= */

.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* ========= gradient text and bg ========= */

.font1{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo {
  background: linear-gradient(45deg, #8151f0,#ef41f2d2); 
  -webkit-background-clip: text; /* Clipping the background to the text */
  -webkit-text-fill-color: transparent; /* Making the text color transparent */
  background-clip: text;  /* Clipping the background to the text for non-WebKit browsers */
}

.gradient-text1 {
  background: linear-gradient(45deg, #ff6f61, #f051b6,#c0a7d9); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;  
}

.gradient-text2 {
  background: linear-gradient(45deg, #1221f6d5, #d438f0ed, #22c2f3); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
}

.gradient-text3 {
  background: linear-gradient(45deg, #0d50d8d5, #bc57cded, #22c2f3); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
}

.home-gradient {
  background: linear-gradient(to bottom, #ffffff, #c670ff);
  /* background: linear-gradient(to bottom, #ffffff, #aa48ebcd, #ffffff); */
  /* box-shadow: inset 0px 20px 20px #ffffff; */
}

.feature-shadow {
  box-shadow: 0px 10px 30px rgba(65, 54, 217, 0.478), 0px -10px 30px rgba(190, 14, 199, 0.274);
  /* overflow-hidden */
  overflow: hidden;
}


/* ====================================== */


.customshadow{
  box-shadow: 0px 20px 40px rgba(94, 88, 211, 0.5),0px -20px 40px rgba(211, 88, 205, 0.5);
}